 {{>adminHead}}
 {{>admin}}
 
 <div class="container mt-3" >
  <div class="row"> 
    <div class="col-md-6 mr-5" >
      <h1>add Coupons</h1>
 <form action="/addCoupon" method="post" >
 <label for="" >Coupon name</label>
 <input type="text" name="name" class="form-control" >
 

 <label for="" >Expiry Date</label>
 <input type="date" name="expiryDate" class="form-control" >
 <label for="" >Max Amount</label>
 <input type="text" name="maxAmount" class="form-control" >

 <label for="" >Min Amount</label>
 <input type="text" name="minAmount" class="form-control" >
  <label for="" >Percentage</label>
 <input type="text" name='percentage' class="form-control" >


   


 
 <button type="submit" class="btn btn-primary mt-2"> submit</button>
      </form>
      </div>
      </div> 
      </div>


{{>adminFoot}}