<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/user/loginform.css">
    <title>Login Form Demo</title>
</head>

<body>
    <div class="login-wrapper">
        <form action="/category/edit?id={{id}}" method="post" class="form">
            <h2>Edit Category</h2>
            <div class="input-group">
                <input type="text" name="category" required>
                <label>Category</label>
            </div>
            <input type="submit" value="Submit" class="submit-btn">
            <a href="/category" class="btn btn-primary mt "> back</a>
        </form>
    </div>
</body>
</html>