
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <a class="navbar-brand" href="#"> <span style="color:aliceblue;"><h3> ADMIN PANEL</h3></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active mr-5">
        <a class="nav-link"  href="#"> <span style="color:aliceblue;"> </span></a>
      </li>
     
      
      <li class="nav-item active mr-4">
        <a class="nav-link"  href="/home"> <span style="color:aliceblue;"> HOME</span></a>
      </li>
      <li class="nav-item active mr-3">
        <a class="nav-link"  href="/"> <span style="color:aliceblue;"> PRODUCTS</span></a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="/customers"> <span style="color:aliceblue;"> USER</span></a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="/banner"> <span style="color:aliceblue;"> BANNER</span></a>
      </li>
            <li class="nav-item mr-3">
        <a class="nav-link" href="/orders"> <span style="color:aliceblue;"> ORDERS</span></a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link " href="/coupon"> <span style="color:aliceblue;"> COUPONS </span></a>
      </li>
     
     
      <li class="nav-item mr-3">
        <a class="nav-link" href="/category"> <span style="color:aliceblue;"> CATEGORY</span></a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="/salesReport"> <span style="color:aliceblue;"> SALESREPORT</span></a>
      </li>
      {{!-- <li>
       <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
       </li> --}}
       <a href="#"><i class="fa fa-facebook"></i></a>

       

       
      
    </ul>
            <a href="/admin" class="btn btn-warning   ml-auto"><span style="color:aliceblue;"> logout</span></a>

    {{!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> --}}


  </div>
</nav>
</header>
