<div class="site-wrap">


  <div class="site-navbar bg-white py-2">

    <div class="search-wrap">
      <div class="container">
        <a class="search-close js-search-close"><span class="icon-close2"></span></a>
        <form action="#" method="post">
          <input type="text" class="form-control" oninput="search()" id="searchid"
            placeholder="Search 000000 keyword and hit enter...">

        </form>
      </div>
    </div>

    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <div class="logo">
          <div class="site-logo">
            <a href="index.html" class="js-logo-clone">GREY STORE</a>
          </div>
        </div>
        <div class="main-nav d-none d-lg-block">
          <nav class="site-navigation text-right text-md-center" role="navigation">
            <ul class="site-menu js-clone-nav d-none d-lg-block">
              <li class="has-children active">
                <a href="/users">Home</a>
                <ul class="dropdown">
                  {{#if user}}
                  <li><a href="/users/orderHistory">Orders History</a></li>

                  <li><a href="/users/profile">Your account</a></li>
                  <li><a href="/users/manageAddress">Addres management</a></li>

                  {{/if}}

                </ul>
              </li>

              <li><a href="/users/shop">Shop</a></li>
              <li><a href="contact.html">Contact</a></li>
              {{#if user}}

              <li><a href="/users/order">orders</a></li>

              {{/if}}

              <li><a href="contact.html"></a></li>
              {{#if user}}
              <li><a href="#" class="btn btn-person">{{user.name}}</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person"
                  viewBox="0 0 16 16">
                  <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                </svg>
                {{else}}
              <li><a href="/users/login" class="btn btn-person">Login</a>
                {{/if}}



            </ul>
          </nav>
        </div>
        <div class="icons">
          <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
          <a href="/users/wishlist" class="icons-btn d-inline-block"><span class="icon-heart-o"></span></a>
          <a href="/users/cart" class="icons-btn d-inline-block bag">
            <span class="icon-shopping-bag"></span>
            <span class="number">{{count}}</span>
          </a>
          <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
              class="icon-menu"></span></a>

        </div>
        {{#if user}}
        <a href="/users/logout" class="btn btn-dark ml-auto">logout</a>
        {{/if}}
      </div>
    </div>
  </div>