<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <title>Document</title>
</head>

<body onload="sucsess()" style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3X5Nd5QtEEvETS1BWQX8TZvA681_hqBRWhJJ60h0OyCizwE37wmWzC8IVpLTnWMdFklU&usqp=CAU');">

<script>
  swal("Congratulation", "Your Order Has Been Placed", "success").then(()=>{
    window.location.href="/users/order"
  });
 
</script>
</body>

</html>