<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/user/loginform.css">
    <title>Login Form Demo</title>
</head>

<body>
    <div class="login-wrapper">
        <form action="/users/otp" method="post" onsubmit="return valideform()" class="form">
            {{#if errorMessage}}
            <p style="color:red;">{{errorMessage}}</p>
            {{/if}}
            <h2>OTP number</h2>
            <div class="input-group">
                <input type="text" name="phone" id="phone" oninput="validateMobile()" required>
                <label>Mobile No</label>
                <span id="mobile-error"></span>
            </div>
            <input type="submit" value="Submit" class="submit-btn">
        </form>
    </div>
</body>
<script src="/javascripts/user/test.js"></script>
</html>